<!-- <app-diretiva-ngif>    </app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<app-diretiva-ngcontent>
    Conteudo pássado para o componente!
    <app-operador-elvis></app-operador-elvis>
</app-diretiva-ngcontent>

<app-diretiva-ngcontent>
    <div class="titulo">
        Titulo do painel
    </div>

    <div class="corpo">
            Corpo como conteudo!
    </div>
    
    <div class="corpo">
            Corpo como conteudo 2!
    </div>    
    onteudo pássado para o componente!
    <app-operador-elvis></app-operador-elvis>
</app-diretiva-ngcontent>